* {
    margin: 0;
    padding: 0;
}

.content {
    font-size: 16px;
}

.navbar {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    background-color: aqua;
    color: #ffffff;
}

.template-head {
    background: yellow;
}

.show-text:hover {
    color: red;
    cursor: pointer;
}

.edit-text {
    font-size: 16px;
    border: none;
    background: transparent;
    outline: none;
}

.edit-text:focus {
    border-bottom: 1px solid #dddddd;
}